
<form name="LogonForm" role="form" ng-submit="logon(user)">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" name="name" ng-model="user.name" placeholder="请输入用户名" ng-blur="onBlurName()" required>
                <div class="alert alert-info" style="margin-top: 10px" ng-show="showError(LogonForm.name, 'required') && shouldShowName">请输入用户名</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="请输入密码" ng-blur="onBlurPassword()" required>
                <div class="alert alert-info" style="margin-top: 10px" ng-show="showError(LogonForm.password, 'required') && shouldShowPassword">请输入密码</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 记住我
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn btn-primary btn-logon">登录</button>
        </div>
    </div>
</form>
<div class="alert alert-info" style="margin-top: 10px" ng-show="passwordError || userNotExist">{{logonErrorMsg}}</div>