<form class="form-horizontal" name="LogonForm">
    <fieldset>
        <div class="input-prepend" title="Username">
            <span class="add-on"><i class="halflings-icon user"></i></span>
            <input class="input-large span10" name="name" id="username" type="text" ng-model="user.name" placeholder="请输入用户名" ng-blur="onBlurName()" required/>
        </div>
        <div class="alert alert-info" style="margin: 16px" ng-show="showError(LogonForm.name, 'required') && shouldShowName">请输入用户名</div>
        <div class="clearfix"></div>

        <div class="input-prepend" title="Password">
            <span class="add-on"><i class="halflings-icon lock"></i></span>
            <input class="input-large span10" name="password" id="password" type="password" ng-model="user.password" placeholder="请输入密码" ng-blur="onBlurPassword()" required/>
        </div>
        <div class="alert alert-info" style="margin: 16px" ng-show="showError(LogonForm.password, 'required') && shouldShowPassword">请输入密码</div>
        <div class="clearfix"></div>


        <div class="button-login">
            <button type="submit" class="btn btn-primary" ng-click="logon(user)">登录</button>
        </div>
        <div class="clearfix"></div>

        <div class="alert alert-info" style="margin: 16px" ng-show="passwordError || userNotExist">{{logonErrorMsg}}</div>

    </fieldset>
</form>