<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
    <title></title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular-route.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular-cookies.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers/controller-admin.js"></script>
    <script src="javascripts/controllers/controller-logon.js"></script>
    <script src="javascripts/controllers/info/controller-info-add.js"></script>
    <script src="javascripts/controllers/info/controller-info-all.js"></script>
    <script src="javascripts/controllers/info/controller-info-edit.js"></script>
    <script src="javascripts/controllers/info/controller-info-view.js"></script>
    <script src="javascripts/controllers/source/controller-source-add.js"></script>
    <script src="javascripts/controllers/source/controller-source-all.js"></script>
    <script src="javascripts/controllers/source/controller-source-edit.js"></script>
    <script src="javascripts/controllers/source/controller-source-view.js"></script>
    <script src="javascripts/controllers/user/controller-user-all.js"></script>
    <script src="javascripts/controllers/user/controller-user-edit.js"></script>
    <script src="javascripts/controllers/user/controller-user-view.js"></script>
    <script src="javascripts/directives/file-reader.js"></script>
    <script src="javascripts/factories/file-reader.js"></script>
    <script src="javascripts/filters/trim.js"></script>
    <script src="javascripts/services/file-upload.js"></script>
    <script src="javascripts/services/temp-data.js"></script>

    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="app">
<div id="container" ng-controller="AdminCtrl" class="container">
    <div id="header" class="row">
        <div id="logo" class="col-md-2"></div>
        <div id="nav" class="col-md-8">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">折扣信息管理</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li ng-class="{ 'active' : isMode('info') || isMode('logon') }"><a href="#/info" ng-click="setMode('info')">信息</a></li>
                        <li ng-class="{ 'active' : isMode('source') }"><a href="#/source" ng-click="setMode('source')">源</a></li>
                        <li ng-class="{ 'active' : isMode('user') }"><a href="#/user" ng-click="setMode('user')">用户</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="user" class="col-md-2" style="display: flex; align-items: center">
            <button class="btn btn-primary" ng-hide="isLoggedOn()" ng-click="logon()">登录</button>
            <button class="btn btn-default" ng-model="user.name" ng-show="isLoggedOn()" ng-click="profile()">{{ user.name }}</button>
            <button class="btn btn-default" ng-show="isLoggedOn()" ng-click="logout()">登出</button>
        </div>
    </div>
    <div class="row">
        <div id="main" ng-view ng-show="shouldShow()"></div>
    </div>
</div>
</body>
</html>