<div ng-controller="ProfileCtrl">
    <div class="container" style="height: 700px;">
        <div class="row"></div>
            <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
                <ul class="nav nav-tabs nav-stacked" id="myNav" style="width: 100%;">
                    <li><a href="#/profile/info">第一部分</a></li>
                    <li><a href="#/profile/settings">第二部分</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-lg-9 col-md-9 col-sm-9 match-parent" ng-include="tplUrl">
            </div>
        </div>
    </div>
</div>