<div ng-controller="SourceCtrl">
    <div id="left_sidebar" class="col-md-2">
        <div id="side_nav">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ 'active' : isMode('all') }"><a href="#/source/all">全部源</a></li>
                <li ng-class="{ 'active' : isMode('add') }"><a href="#/source/add">添加源</a></li>
            </ul>
        </div>
    </div>
    <div id="content" class="col-md-8" ng-include="tplRoute.url"></div>
    <div id="right_sidebar" class="col-md-2" style="display: flex; flex-direction: column">
        <div class="ad_section"></div>
        <div class="ad_section"></div>
        <div class="ad_section"></div>
        <div class="ad_section"></div>
    </div>
</div>