<div class="row-fluid sortable">
    <div class="box">
        <!--<div class="box-header">-->
            <!--<h2><i class="halflings-icon font"></i><span class="break"></span></h2>-->
        <!--</div>-->
        <div class="box-content">
            <div class="page-header" style="display: flex; flex-direction: row">
                <img ng-src="{{ user.avatar }}" style="width: 64px; height: 64px">
                <div style="margin-left: 8px"><h1><small>{{ user.name }}</small></h1></div>
            </div>
            <!--<div class="row-fluid" style="margin-top: 8px">-->
                <!--<div class="span11">-->
                <!--</div>-->
                <!--<div class="span1">-->
                    <!--<button class="btn btn-primary" ng-click="edit()" ng-show="isAdmin()">编辑</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--<hr>-->

            <div class="row-fluid">
                <div class="span12 tooltip-demo well">
                    {{ user.email }}
                </div>
            </div>

            <div ng-show="hasCollection()">
                <table class="table table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <th style="text-align: center;">标题</th>
                        <th style="text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="info in infos">
                    <tr ng-class="{ 'info' : ($index % 2 == 0)}" style="height: 32px;">
                        <td style="text-align: center; line-height: 32px;">{{ info.title }}</td>
                        <td style="text-align: center;">
                            <a class="btn btn-danger" href="" ng-click="deleteCollect(info)">
                                <i class="halflings-icon white trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>