<div class="box span12">
    <div class="box-header" data-original-title="">
        <h2><i class="halflings-icon edit"></i><span class="break"></span>编辑信息</h2>
    </div>
    <div class="box-content">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">标题</label>
                    <div class="controls">
                        <input id="title" type="text" ng-model="info.title" style="width: 640px">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="source">源</label>
                    <div class="controls">
                        <input id="source" type="text" ng-model="info.source">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="start">开始时间</label>
                    <div class="controls">
                        <input id="start" type="text" ng-model="info.start">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="end">结束时间</label>
                    <div class="controls">
                        <input id="end" type="text" ng-model="info.end">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tags">标签</label>
                    <div class="controls">
                        <input id="tags" type="text" ng-model="info.tags">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="url">原始网页</label>
                    <div class="controls">
                        <input id="url" type="text" ng-model="info.url">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">封面图片</label>
                    <div class="controls">
                        <div>
                            <img ng-src="{{ imageSrc }}" style="max-width:300px; max-height:300px; margin-top: 16px; margin-bottom: 16px" />
                        </div>
                        <div class="uploader">
                            <input type="file" file-model="picFile">
                            <span class="filename" style="-webkit-user-select: none;">{{ picFile.name }}</span>
                            <span class="action" style="-webkit-user-select: none;">选择文件</span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-small" ng-click="upload()" style="margin-left: 8px">上传图片</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="description">简介</label>
                    <div class="controls">
                        <textarea id="description" type="" class="form-control" ng-model="info.description" style="height: 320px; width: 640px"> </textarea>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="add(info)">保存</button>
                    <button class="btn" ng-click="cancel()">取消</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>