<!--<div class="well">-->
    <!--<div role="form">-->
        <!--<div id="legend" class="row">-->
            <!--<div class="col-md-10">-->
            <!--<legend class="">编辑信息</legend>-->
            <!--</div>-->
            <!--<div class="col-md-2" style="display: flex; justify-content: space-around">-->
                <!--<button class="btn btn-primary" ng-click="edit(info)">完成</button>-->
                <!--<button class="btn btn-default" ng-click="cancel()">取消</button>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="title">标题</label>-->
            <!--<input type="text" class="form-control" id="title" placeholder="" ng-model="info.title">-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label>简介</label>-->
            <!--<textarea type="" class="form-control" ng-model="info.description" style="height: 200px;"> </textarea>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="source">来源</label>-->
            <!--<input type="text" class="form-control" id="source" placeholder="" ng-model="info.source">-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="start">起始时间</label>-->
            <!--<input type="text" class="form-control" id="start" placeholder="" ng-model="info.start">-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="end">结束时间</label>-->
            <!--<input type="text" class="form-control" id="end" placeholder="" ng-model="info.end">-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="tags">标签</label>-->
            <!--<input type="text" class="form-control" id="tags" placeholder="" ng-model="info.tags">-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="url">原始网页</label>-->
            <!--<input type="text" class="form-control" id="url" placeholder="" ng-model="info.url">-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="pic">图片链接</label>-->
            <!--<input type="text" class="form-control" id="pic" placeholder="" ng-model="info.pic">-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label>封面图片</label>-->
            <!--<div>{{ info.cover }}</div>-->
            <!--<input class="input" type="file" file-model="picFile"/>-->
            <!--<div>-->
                <!--<img ng-src="{{ imageSrc }}" style="max-width:300px; max-height:300px; margin-top: 16px; margin-bottom: 16px" />-->
            <!--</div>-->
            <!--<div>-->
                <!--<button class="btn btn-default" ng-click="upload()">上传</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog"-->
         <!--aria-labelledby="myModalLabel" aria-hidden="true" style="height: 50%;">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                        <!--&times;-->
                    <!--</button>-->
                    <!--<h1 class="modal-title" id="myModalLabel">-->
                        <!--修改信息成功-->
                    <!--</h1>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--修改信息成功!-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-primary" ng-click="closeWindow()">-->
                        <!--关闭-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="box span12">
    <div class="box-header" data-original-title="">
        <h2><i class="halflings-icon edit"></i><span class="break"></span>编辑信息</h2>
        <!--<div class="box-icon">-->
            <!--<a href="#" class="btn-setting"><i class="halflings-icon glyphicon-floppy-saved"></i></a>-->
            <!--<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>-->
            <!--<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>-->
        <!--</div>-->
    </div>
    <div class="box-content">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">标题</label>
                    <div class="controls">
                        <input id="title" type="text" ng-model="info.title" style="width: 640px">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="source">源</label>
                    <div class="controls">
                        <input id="source" type="text" ng-model="info.source">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="start">开始时间</label>
                    <div class="controls">
                        <input id="start" type="text" ng-model="info.start">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="end">结束时间</label>
                    <div class="controls">
                        <input id="end" type="text" ng-model="info.end">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tags">标签</label>
                    <div class="controls">
                        <input id="tags" type="text" ng-model="info.tags">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="url">原始网页</label>
                    <div class="controls">
                        <input id="url" type="text" ng-model="info.url" style="width: 640px">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">封面图片</label>
                    <div class="controls">
                        <div>
                            <img ng-src="{{ imageSrc }}" style="max-width:300px; max-height:300px; margin-top: 16px; margin-bottom: 16px" />
                        </div>
                        <div class="uploader">
                            <input type="file" file-model="picFile">
                            <span class="filename" style="-webkit-user-select: none;">{{ picFile.name }}</span>
                            <span class="action" style="-webkit-user-select: none;">选择文件</span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-small" ng-click="upload()" style="margin-left: 8px">上传图片</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="description">简介</label>
                    <div class="controls">
                        <textarea id="description" type="" class="form-control" ng-model="info.description" style="height: 320px; width: 640px"> </textarea>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="edit(info)">保存</button>
                    <button class="btn" ng-click="cancel()">取消</button>
                </div>
            </fieldset>
        </form>
    </div>

    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <!--<h1 class="modal-title" id="myModalLabel">修改信息成功</h1>-->
                <!--</div>-->
                <!--<div class="modal-body" style="height: 80px;">-->
                    <!--修改信息成功!-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-primary" ng-click="closeWindow()">关闭</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
