html, body {
    width: 100%;
    height:100%;
    overflow:hidden;
}

/*.logon-box {*/
  /*margin-top: 20%;*/
  /*width: 100%;*/
  /*position: relative;*/
  /*height: 30%;*/
/*}*/

/*@media screen and (min-width:400px){*/
  /*.logon-box {*/
    /*left: 30%;*/
    /*width: 40%;*/
    /*min-width: 400px;*/
    /*max-width: 300px;*/
  /*}*/
/*}*/

/*.btn-logon {*/
  /*width: 100%;*/
  /*position: relative;*/
  /*margin-top: 10%;*/
/*}*/

/*.btn-register {*/
  /*width: 45%;*/
/*}*/

/*div.scroll {*/
  /*border-right: solid gray 1px;*/
  /*height: 100%;*/
  /*position: relative;*/
  /*overflow: auto;*/
  /*max-height: 750px;*/
/*}*/

/*.note {*/
  /*min-height: 128px;*/
  /*padding-left: 16px;*/
  /*padding-top: 8px;*/
  /*border-bottom: solid #d5d5d5 2px;*/
/*}*/

/*.note-selected {*/
  /*background-color: #2aabd2;*/
/*}*/

/*.match-parent {*/
  /*height: 100%;*/
/*}*/

/*.center-outer {*/
  /*height: 64px;*/
  /*position: relative;*/
  /*background-color: #2aabd2*/
/*}*/

/*.center-inner {*/
  /*position: absolute;*/
  /*line-height: 64px;*/
  /*text-align: center;*/
  /*height: 64px;*/
  /*width: 400px;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*margin-left: -200px;*/
  /*margin-top: -32px;*/
  /*background-color: #4cae4c*/
/*}*/

/*ul.nav-tabs{*/
  /*width: 140px;*/
  /*margin-top: 20px;*/
  /*border-radius: 4px;*/
  /*border: 1px solid #ddd;*/
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);*/
/*}*/
/*ul.nav-tabs li{*/
  /*margin: 0;*/
  /*border-top: 1px solid #ddd;*/
/*}*/
/*ul.nav-tabs li:first-child{*/
  /*border-top: none;*/
/*}*/
/*ul.nav-tabs li a{*/
  /*margin: 0;*/
  /*padding: 8px 16px;*/
  /*border-radius: 0;*/
/*}*/
/*ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{*/
  /*color: #fff;*/
  /*background: #0088cc;*/
  /*border: 1px solid #0088cc;*/
/*}*/
/*ul.nav-tabs li:first-child a{*/
  /*border-radius: 4px 4px 0 0;*/
/*}*/
/*ul.nav-tabs li:last-child a{*/
  /*border-radius: 0 0 4px 4px;*/
/*}*/
/*ul.nav-tabs.affix{*/
  /*top: 30px; !* Set the top position of pinned element *!*/
/*}*/

#container {
    width: 100%;
    height: 100%;
}

#footer {
    background-color: #2e6da4;
    position:fixed;
    bottom:0;
    width:100%;
    height:5%;
}

#header {
    background-color: #4cae4c;
    height: 20%;
}

#main {
    /*background-color: #9acfea;*/
    height: 75%;
}

#logo {
    background-color: #9acfea;
    justify-content: center;
    align-items: center;
}

#logo_pic {
    background-color: #d58512;
    width: 80%;
    height: 80%;
}

#nav {
    background-color: white;
    align-items: flex-end;
}

#user {
    background-color: #9acfea;
}

#left_sidebar {
    background-color: white;
}

#content {
    /*background-color: #9acfea;*/
}

#right_sidebar {
    background-color: white;
}

#side_nav {
    margin-top: 10%;
}

/*div {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.ad_section {
    height: 20%;
    background-color: #0f0f0f;
    margin-top: 10%;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.box {
    display: flex;
}