html, body { height:100%; overflow:hidden;}

body { overflow:auto}

.logon-box {
  margin-top: 20%;
  width: 100%;
  position: relative;
  height: 30%;
}

@media screen and (min-width:400px){
  .logon-box {
    left: 30%;
    width: 40%;
    min-width: 400px;
    max-width: 300px;
  }
}

.btn-logon {
  width: 100%;
  position: relative;
  margin-top: 10%;
}

.btn-register {
  width: 45%;
}
