html, body { height:100%; overflow:hidden;}

body { overflow:auto}

.logon-box {
  margin-top: 30%;
}

.btn-logon {
  width: 80%;
  left: 10%;
  position: relative;
}

.btn-register {
  width: 45%;
}

.table-logon-btn {
  width: 100%;
  margin-top: 10%;
  position: relative;
}