<div class="well" style="overflow: scroll">
    <form role="form">
        <div id="legend" class="row">
            <div class="col-md-10">
                <legend class="">添加源</legend>
            </div>
            <div class="col-md-2" style="display: flex; justify-content: space-around">
                <button class="btn btn-primary" ng-click="add(source)">添加</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </div>

        <div class="form-group">
            <label for="name">名称</label>
            <input type="text" class="form-control" id="name" placeholder="" ng-model="source.name">
        </div>

        <div class="form-group">
            <label>简介</label>
            <textarea type="" class="form-control" ng-model="source.description" style="height: 200px;"> </textarea>
        </div>

        <div class="form-group">
            <label for="pic">图片链接</label>
            <input type="text" class="form-control" id="pic" placeholder="" ng-model="source.pic">
        </div>
    </form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="height: 50%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h1 class="modal-title" id="myModalLabel">
                        添加源成功
                    </h1>
                </div>
                <div class="modal-body">
                    添加源成功!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="closeWindow()">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>