<div>
    <div class="well">
        <button class="btn btn-primary" ng-click="add()">添加</button>
    </div>
    <table class="table table-bordered">
        <tbody ng-repeat="source in sources">
            <tr>
            <td style="display:table-cell; vertical-align:middle">{{ source.name }}</td>
            <td style="display:table-cell; vertical-align:middle">{{ source.description }}</td>
            <td style="display:table-cell; vertical-align:middle"><a href="{{source.pic}}">{{ source.pic }}</a></td>
            <td style="display: flex; justify-content: space-around;">
                <button class="btn btn-primary btn-sm" ng-click="view(source)">查看</button>
                <button class="btn btn-primary btn-sm" ng-click="edit(source)">编辑</button>
                <button class="btn btn-primary btn-sm" ng-click="delete(source)">删除</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>