<div class="row-fluid sortable">
    <div class="box span9">
        <div class="box-header">
            <h2><i class="halflings-icon font"></i><span class="break"></span></h2>
        </div>
        <div class="box-content">
            <div class="page-header" style="display: flex; flex-direction: row">
                <img ng-src="{{ source.pic }}" style="width: 64px; height: 64px">
                <div style="margin-left: 8px"><h1><small>{{ source.name }}</small></h1></div>
            </div>
            <div class="row-fluid" style="margin-top: 8px">
                <div class="span10">
                </div>
                <div class="span2">
                    <button class="btn btn-primary" ng-click="edit()" ng-show="isAdmin()">编辑</button>
                    <button class="btn" ng-class="{'btn-primary' : !isFollowed(), 'btn-default' : isFollowed()}" ng-click="follow()"><span ng-show="isFollowed()">取消</span>关注</button>
                </div>
            </div>
            <hr>
            <div class="row-fluid">
                <div class="span12 tooltip-demo well">
                    {{ source.description }}
                </div>
            </div>

            <div ng-show="hasInfos()">
                <table class="table table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <th style="text-align: center;">标题</th>
                        <th style="text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="info in infos">
                    <tr ng-class="{ 'info' : ($index % 2 == 0)}" style="height: 32px;">
                        <td style="text-align: center; line-height: 32px;">{{ info.title }}</td>
                        <td style="text-align: center;">
                            <a class="btn btn-success" href="" ng-click="view(info)">
                                <i class="halflings-icon white zoom-in"></i>
                            </a>
                            <a class="btn btn-info" href="" ng-click="edit(info)">
                                <i class="halflings-icon white edit"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="row-fluid">
                    <div class="span12 center">
                        <div class="dataTables_paginate paging_bootstrap pagination">
                            <ul class="pagination" ng-show="totalPage > 1">
                                <li ng-class="{ true : 'active' }[currentPage == 1]"><a href="javascript:void(0)" ng-click="first()">首页</a></li>
                                <li ng-class="{ true : 'disabled' }[currentPage == 1]"><a href="javascript:void(0);" ng-click="prev()">上一页</a></li>
                                <li ng-repeat="page in pages" ng-class="{'active' : isSelect(page)}"><a href="javascript:void(0);" ng-click="loadPage(page)">{{ page }}</a></li>
                                <li ng-class="{ true : 'disabled'}[currentPage == totalPage]"><a href="javascript:void(0);" ng-click="next()">下一页</a></li>
                                <li ng-class="{ true : 'active'}[currentPage == totalPage]"><a href="javascript:void(0)" ng-click="last()">末页</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>